.container-fluid
  %h1 Welcome#index
  %p{class: "test"} Find me in app/views/welcome/index.html.haml

  %button{class:"btn btn-primary"}Primary
  %button{class:"btn btn-secondary"}Secondary
  %button{class:"btn btn-success"}Success
  %button{class:"btn btn-info"}Info
  %button{class:"btn btn-warning"}Warning
  %button{class:"btn btn-danger"}Danger
  %button{class:"btn btn-link"}Link

.container.mt-3
  =link_to 'Postres', desserts_path, class: "btn btn-success"
